.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
    -fx-background-color: #bfd8d5;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #edecec;

}

.tab-pane .tab:selected
{
    -fx-background-color: #b1bed5;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #8b97ae;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #fffff9;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.table-view{
    -fx-background-color: #e1e0e0;
}

.table-view:focused{
    -fx-background-color: #afcddd;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#dfdfdf 0%, #bfd8d5 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: #b1bed5;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #b1bed5;
}
/*Column之间的颜色*/


.table-view .table-cell{
    -fx-text-fill: #646a79;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #bfd8d5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #dfdfdf;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #d4e8ff;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: #b1bed5;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}


.date-picker > .text-field {
    -fx-background-color: #ffffff;
    -fx-background-insets: 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}

.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
    -fx-background-color: #ffffff;
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;
}